<div id="<%= dom_id reflection %>">
  <p>
    <strong>Item:</strong>
    <%= reflection.item %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= reflection.cost %>
  </p>

  <p>
    <strong>Expense category:</strong>
    <%= reflection.expense_category %>
  </p>

  <p>
    <strong>Emotion:</strong>
    <%= reflection.emotion %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= reflection.comment %>
  </p>

</div>
