<p style="color: green"><%= notice %></p>

<%= render @reflection %>

<div>
  <%= link_to "Edit this reflection", edit_reflection_path(@reflection) %> |
  <%= link_to "Back to reflections", reflections_path %>

  <%= button_to "Destroy this reflection", @reflection, method: :delete %>
</div>
